body {
    background-image: url("../img/img1.png");
    background-size: cover;
    position: relative;
    font-size: 25px;
    font-family: 'Kalam', cursive;
}

#app {
    position: absolute;
    top: 100px;
    left: 220px;
}

h1{
    font-family: 'Kalam', cursive;
    font-size: 50px;
}

input {
    filter: brightness(100%);
    font-family: 'Kalam', cursive;
    width: 280px;
    font-size: 25px;
    height: 40px;
}

th {
    font-family: 'Kalam', cursive;
    font-size: 40px;
}

button {
    margin-left: 10px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    height: 39px;
    text-align: center;
    width: 100px;
}